.footer{
    display: flex;
    flex-direction: column;
    background-color: var(--footer-background);
    font-family: var(--font-plus-jakarta);
}


.footer__info{
    margin: 80px;
    display: flex;
    justify-content: space-between;
}


.footer__aboutSection{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__lorem{
    width: 300px;
    color: #696A75;
}

.footer__contact{
    padding: 0px 0px 10px 0px;
}

.footer__links{
    display: flex;
    gap: 30px;
}

.footer__quickLinks{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__quickLinks ul{
    display: flex;
    flex-direction: column;
    padding: 0px 0px 10px 0px;
    gap: 10px;
}

.footer__quickLinks li{
    list-style-type: none;
}

.footer__category{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__category ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px 0px 10px 0px;
}

.footer__category li{
    list-style-type: none;
}

.footer__newsletter{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--newsletter-background);
    padding: 30px;
    border-radius: 12px;
}

.footer__newsletterHeading{
    margin: 0px 0px 20px 0px;
    text-align: center;
}

.footer__newsletterHeading h2{
    font-weight: 600;
    color: var(--newsletterHeading-color);
}

.footer__newsletterHeading span{
    color: #696A75;
}

.footer__inputNewsletter{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__inputNewsletter_input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #DCDDDF;
    background-color: var(--newsletterInput-background);
    padding: 12px 16px;
    border-radius: 6px;
}

.footer__inputNewsletter input{
    outline: none;
    font-size: var(--font-normal);
    border: none;
    color: #97989F;
    background-color: var(--newsletterInput-background);
}

.footer__inputNewsletter button{
    padding: 12px 16px;
    font-size: var(--font-normal);
    background-color: #4B6BFB;
    border: none;
    border-radius: 6px;
    color: #ffffff;
}

.footer__copyright{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 80px;
}

.footer__logo{
    display: flex;
    align-items: center;
}

.footer__meta{
    padding-left: 10px;
}

.footer__logo p{
    font-size: var(--font-mid);
}

.footer p span{
    font-weight: bold;
}

.footer__terms{
    display: flex;
    gap: 10px;
}

.footer__hr{
    margin: 0 80px;
    border: 1px solid #DCDDDF;
}

.footer__vl{
    padding: 0px 12px;
    border-right: 1px solid #DCDDDF;
}

.footer__vl:last-child{
    border-right: none;
}
