:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-large: 30px;
  --font-mid: 24px; 
  --font-normal: 16px;
  --font-small: 14px;
  --footer-background: #E8E8EA;
  --contact-background: #F6F6F7;
  --advert-background: #E8E8EA;
  --mainStacked-background: #ffffff;
  --postCardTitle-color: #181A2A;
  --latestPosts-btn: #ffffff;
  --newsletter-background: #ffffff;
  --newsletterInput-background: #ffffff;
  --newsletterHeading-color: #181A2A;
  --themeToggle-color: #181A2A;
  --heroInput-color: #F4F4F5;
  --heroLinks-color: #3B3C4A;
  --headerHighlight-background: #E8E8EA;
  --blog-background: #ffffff;
  --blog-input-color: #000000;
  --blog-editor: #7F9183;
  --blog-textEditorWrapper-color: silver;
  --blog-textEditor-textColor: #000000;
}

[data-theme='dark']{
  --background: #181A2A;
  --foreground: #ededed;
  --footer-background: #141624;
  --contact-background: #242535;
  --advert-background: #242535;
  --mainStacked-background: #181A2A;
  --postCardTitle-color: #FFFFFF;
  --latestPosts-btn: #181A2A;
  --newsletter-background: #242535;
  --newsletterInput-background: #181A2A;
  --newsletterHeading-color: #FFFFFF;
  --themeToggle-color: #4B6BFB;
  --heroInput-color: #242535;
  --heroLinks-color: #FFFFFF;
  --headerHighlight-background: #242535;
  --blog-background: #7D82B8;
  --blog-input-color: #E1E1E1;
  --blog-editor: #96ADC8;
  --blog-textEditorWrapper-color: #495867;
  --blog-textEditor-textColor: #E1E1E1;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}


html {
  color-scheme: dark;
}
