.signup__container{
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: var(--font-plus-jakarta);
}

.signup__wrapper{
    display: flex;
    min-height: 100vh;
    width: 100vw;
}

.signup__left{
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 90px;
    gap: 10px;
}

.signup__form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.signup__form input{
    padding: 8px 25px;
    border: none;
    border-radius: 5px;
    background-color: var(--loginInput-background);
    font-size: var(--font-normal);
    color: var(--loginInput-color);
}

.signup__button button{
    padding: 12px 16px;
    font-size: var(--font-normal);
    background-color: #2A424E;
    border: none;
    border-radius: 8px;
}

.signup__button button:hover{
    background-color: #161620;
}

.signup__link{
    margin-top: 50px;
}

.signup__link a{
    color: #2A424E;
}

.signup__link a:hover{
    text-decoration: underline;
}

.signup__right{
    flex: 1;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.signup__image{
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}



/* Tablet Styles */
@media(min-width: 760px) and (max-width: 1024px) {
    .signup__left {
        margin-left: 50px;
    }
    
    .signup__right {
        flex: 0.9;
    }
    
    .signup__form {
        width: 90%;
    }
}

/* Mobile Styles */
@media(max-width: 759px) {
    .signup__wrapper {
        flex-direction: column-reverse;
    }
    
    .signup__left {
        margin: 0;
        padding: 20px;
        align-items: flex-start;
    }
    
    .signup__left h1 {
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 1.5rem;
    }
    
    .signup__leftForm {
        width: 100%;
    }
    
    .signup__form {
        width: 100%;
    }
    
    .signup__form input,
    .signup__button button {
        /* width: 100%; */
        box-sizing: border-box;
    }
    
    .signup__right {
        height: 30vh;
        flex: none;
    }
    
    .signup__signupLink {
        margin-top: 30px;
    }
}