.hero{
    line-height: 2;
    font-size: 1em;
}

.hero__container{
    /* background-color: red; */
    display: flex;
    align-items: center;
    padding: 10px;
}

.hero__logo{
    display: flex;
    align-items: center;
    margin-left: 60px
}

.hero__logo p{
    font-size: 30px;
}

.hero__logo p span{
    font-weight: bold;
}

.hero__main{
    display: flex;
    justify-content: space-between;
    flex: 1;
    /* margin-left: 30px; */
    /* margin-right: 40px; */
}

.hero__nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 2;
}

.hero__navLinks{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.hero__navLinks li{
    list-style-type: none;
    margin: 10px;
}

.hero__searchTheme{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 60px;
}

.hero__searchTheme_search{
    display: flex;
    align-items: center;
    border: 3px solid transparent;
    background-color: #F4F4F5;
    border-radius: 5px;
    margin-right: 50px;
    border: 3px solid transparent;
    transition: all 0.3s ease-in-out;
}

.hero__searchTheme_search input{
    font-size: 15px;
    outline: none;
    border: none;
    height: 36px;
    width: 166px;
    background-color: #F4F4F5;
}

.hero__searchTheme_search:focus-within{
    border-color: black;
}

.hero__searchTheme_theme{
    display: flex;
    align-self: center;
}

.hero__searchTheme_theme svg{
    width: 50px;
    height: 50px;
}

