.main{
    position: relative;
}

.main__image{
    position: relative;
    width: 100%;
    aspect-ratio: 1216/600;
    z-index: 1;
}

.main__image img{
    padding: 40px;
}

.main__stacked{
    position: absolute; /*used to be relative*/
    background-color: #ffffff;
    padding: 30px;
    width: 500px;
    z-index: 2;
    top: calc(100% - 240px);
    left: 100px;
    border-radius: 1.5rem;
    box-shadow: 0px 12px 24px -6px #181A2A1F;
}

.main__stacked_header{
    background-color: #4B6BFB;
    border-radius: 5px;
    font-weight: bold;
    padding: 5px;
}

.main__stacked h2{
    margin-top: 20px;
}

.main__author{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    color: #97989F;
}

.main__author_avatar{
    display: flex;
    align-items: center;
    gap: 10px;
}